body {

}

h3 {
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

#offers{
  padding-top : 30px;
}

#testimonials-box {
  background-color: #ff4c68;
  padding: 5% 15%;
}

.testimonial-Image {
  margin-left: 25rem;
  width: 10%;
  border-radius: 50%;
  padding: 1rem 0 1rem 0;
}

#user-info {
  color: white;
  text-align: center;
}

#title {
  background-color: #ff4c68;
}

#navigation-Bar {
  background-color: #ff4c68;
}

#middle-Container {
  background-color: #ff4c68;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-weight: 4rem;
}

.navbar {
  padding-left: 0;
}

.collapse {
  margin-left: 450px;
}

.contact-margin {
  margin-left: 900px;
}

.title-style {
  color: white;
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}

.fontawesome {
  display: block;
  width: 100%;
  color: black;
  font-size: 40px;
}

/* Downloaded buttons */
.downloaded-buttons {
  margin: 5% 3% 5%;
}

.main-image {
  width: 60%;
  transform: rotate(25deg);
}

/* features  */
.features-heading {
  display: inline-block;
}

/* features-description */
.featuring-paragraph {
  display: inline-block;
}

.feature-icons {
  display: inline-block;
  padding: 0px 45px 0 45px;
  color: #ff4c68;
}

.features {
  display: inline-block;
}

.feature-one {
  display: inline-block;
}

.feature-icons:hover {
  color: red;
  font-size: 65px;
}

.features {
  padding: 75px;
  text-align: center;
}

.testimonials {
  text-align: center;
  color: white
}

.press {
  background-color: #ff4c68;
  text-align: center;
}

.press-logo {
  width: 17%;
  padding: 10px 20px 50px;
}

.carousel-items {
  padding: 12% 50% 12% 50%;
}

.purchase-plan-text{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
}

.offer-box{
  padding: 0 10rem 1.5rem 10rem;
}

.bottom-class{
  text-align: center;
  color: white;
  padding: 4rem;
  background-color: #ff4c68;
}

.text-bottom{
  padding-bottom: 1rem;
}

.credentials-info{
  text-align: center;
  padding: 1rem;

}
